@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

#container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: scroll;
  transform: translateZ(-1px) scale(0.7);
  transform-style: preserve-3d; }

.foreground {
  transform: translateZ(-1px);
  height: 100%;
  width: 130%;
  position: absolute;
  top: 0;
  left: -15%;
  z-index: 100; }

.bar {
  width: 100%;
  height: 100vh;
  position: relative; }
  .bar:before {
    content: "";
    display: block;
    background: #f2f2f2;
    background-image: url("img/bg_1.png");
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(0.7);
    z-index: -1;
    min-height: 100vh; }
  .bar a {
    font-family: "Work Sans", sans-serif;
    color: #222;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    top: 30px;
    left: 30px;
    padding-bottom: 3px;
    border-bottom: 1px solid #222; }

.open-overlay {
  position: absolute;
  left: 30px;
  top: 60px;
  width: 112px;
  display: block;
  cursor: pointer; }
  .open-overlay span {
    display: block;
    height: 1px;
    background: #29363B;
    cursor: pointer;
    margin-top: 11px; }

@keyframes animate-top-bar {
  0% {
    background-color: #29363B; }
  50% {
    transform: translateY(9px); }
  80% {
    transform: translateY(5px);
    background-color: #29363B; }
  100% {
    transform: translateY(0);
    background-color: #29363B; } }
@keyframes animate-bottom-bar {
  0% {
    background-color: #29363B; }
  50% {
    transform: translateY(-9px); }
  80% {
    transform: translateY(-5px);
    background-color: #29363B; }
  100% {
    transform: translateY(0);
    background-color: #29363B; } }
@keyframes animate-middle-bar {
  0% {
    background-color: #29363B; }
  50% {
    transform: translateY(0); }
  80% {
    transform: translateY(0);
    background-color: #29363B; }
  100% {
    transform: translateY(0);
    background-color: #29363B; } }
@keyframes animate-top-bar {
  0% {
    background-color: #29363B; }
  50% {
    transform: translateY(9px); }
  80% {
    transform: translateY(5px);
    background-color: #29363B; }
  100% {
    transform: translateY(0);
    background-color: #29363B; } }
@keyframes animate-out-top-bar {
  0% {
    background-color: #29363B; }
  50% {
    transform: translateY(9px); }
  80% {
    transform: translateY(5px);
    background-color: #29363B; }
  100% {
    transform: translateY(0);
    background-color: #29363B; } }
@keyframes animate-out-bottom-bar {
  0% {
    background-color: #29363B; }
  50% {
    transform: translateY(-9px); }
  80% {
    transform: translateY(-5px);
    background-color: #29363B; }
  100% {
    transform: translateY(0);
    background-color: #29363B; } }
@keyframes animate-out-middle-bar {
  0% {
    background-color: #29363B; }
  50% {
    transform: translateY(0); }
  80% {
    transform: translateY(0);
    background-color: #29363B; }
  100% {
    transform: translateY(0);
    background-color: #29363B; } }
.animate-top-bar {
  animation: animate-top-bar .5s linear 1 both; }

.animate-bottom-bar {
  animation: animate-bottom-bar .5s linear 1 both; }

.animate-middle-bar {
  animation: animate-middle-bar .5s linear 1 both; }

.animate-out-top-bar {
  animation: animate-out-top-bar .5s linear 1 both; }

.animate-out-bottom-bar {
  animation: animate-out-bototm-bar .5s linear 1 both; }

.animate-out-middle-bar {
  animation: animate-out-middle-bar .5s linear 1 both; }

@media (max-width: 640px) {
  nav ul {
    flex-direction: column; }
    nav ul li {
      height: 20%; }
      nav ul li a {
        font-size: 30px; }
        nav ul li a:after {
          font-size: 25px;
          bottom: -25px; }
        nav ul li a:hover:after {
          transform: translateY(0); }
        nav ul li a:before {
          width: 25px; }

  .open-overlay {
    right: 1rem; } }
.overlay-navigation {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  opacity: 0; }

nav,
nav ul {
  display: flex;
  list-style: none;
  width: 100%; }
  nav li,
  nav ul li {
    flex-basis: 25%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    opacity: 0;
    display: none;
    width: 25%; }
    nav li a,
    nav ul li a {
      position: relative;
      top: 46%;
      color: #fff;
      text-transform: uppercase;
      font-family: "Lato";
      font-weight: 600;
      letter-spacing: 4px;
      text-decoration: none;
      display: block;
      text-align: center;
      font-size: 30px;
      opacity: 0; }
    nav li a:before,
    nav ul li a:before {
      content: "";
      width: 70px;
      height: 2px;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 100;
      transform: translateX(-100%);
      opacity: 0;
      transition: all .2s linear; }
    nav li a:after,
    nav ul li a:after {
      content: attr(data-content);
      font-size: 30px;
      transition: all .2s linear;
      opacity: 0;
      position: absolute;
      z-index: 100;
      color: #fff;
      display: block;
      margin-right: auto;
      margin-left: auto;
      left: 0;
      right: 0;
      bottom: -50%;
      text-transform: none;
      font-family: "Raleway";
      font-weight: 300;
      font-style: italic;
      letter-spacing: 0; }
    nav li a:hover:before,
    nav ul li a:hover:before {
      transform: translateX(0);
      opacity: 1; }
    nav li a:hover:after,
    nav ul li a:hover:after {
      transform: translateY(15px);
      opacity: 1; }
    nav li:nth-of-type(1),
    nav ul li:nth-of-type(1) {
      background: #F4837D;
      opacity: 0.8; }
    nav li:nth-of-type(2),
    nav ul li:nth-of-type(2) {
      background: #FDCEA9;
      opacity: 0.8; }
    nav li:nth-of-type(3),
    nav ul li:nth-of-type(3) {
      background: #87ceeb;
      opacity: 0.8; }
    nav li:nth-of-type(4),
    nav ul li:nth-of-type(4) {
      background: #99B998;
      opacity: 0.8; }

.name {
  width: 100%;
  height: 150vh;
  padding-top: 20vh;
  text-align: center; }

h1 {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 4px;
  color: #fff; }

h2 {
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 4px;
  color: #fff; }

.about {
  padding-top: 100vh;
  height: 200vh; }
  .about p {
    padding: 70px;
    border-top: solid 2px;
    border-bottom: solid 2px;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: .5px; }
  .about img {
    position: relative;
    left: 40%; }

.portfolio {
  padding-top: 100vh;
  padding-bottom: 100vh;
  height: 200vh; }

.portfolio p {
  font-size: 50px; }

.tool {
  padding-top: 50px;
  text-align: center; }
  .tool h2 {
    color: #333;
    font-size: 40px; }

.list {
  padding-top: 50px;
  padding-left: 50px;
  border-top: solid 2px;
  border-bottom: solid 2px;
  height: 300px;
  text-align: left;
  margin-bottom: 120px; }
  .list ul li {
    position: relative;
    list-style: none;
    font-size: 30px;
    font-weight: bold;
    height: 80px; }
    .list ul li:after {
      display: block;
      content: "";
      position: absolute;
      top: .65em;
      left: -2em;
      width: 30px;
      height: 5px;
      background: #666; }

.float {
  display: block;
  float: left;
  width: 30%; }

.work {
  float: left;
  width: 50%;
  text-align: center;
  height: 600px;
  font-family: "Roboto Condensed"; }

h3 {
  font-size: 45px; }

h4 {
  font-size: 40px; }

.portfolio-pic {
  background-size: cover;
  border: solid 0px;
  border-radius: 100%;
  width: 300px;
  height: 300px;
  margin-left: 30%; }
  .portfolio-pic-game {
    background-image: url(img/game.png); }
  .portfolio-pic-weather {
    background-image: url(img/weather.png); }
  .portfolio-pic-seahorse {
    background-image: url(img/seahorse.png); }

.strength {
  padding-top: 100vh;
  height: 300vh; }

.wrapper {
  max-width: 100%;
  margin: 0 auto;
  font-weight: 600;
  color: #fff;
  padding-left: 20%;
  margin-bottom: 100px;
  border-radius: 3px;
  font-size: 200%; }

.timeline {
  width: 100%;
  list-style: none;
  padding-left: 1.89em;
  border-left: 10px solid #eee9dc; }
  .timeline li {
    margin: 4em 0;
    position: relative; }
  .timeline p {
    margin: 0 0 1em; }

.time {
  margin-top: -.8em;
  top: 50%;
  left: -8em;
  font-size: 0.95em;
  line-height: 20px;
  position: absolute; }

.circle {
  margin-top: -.8em;
  top: 50%;
  left: -2.75em;
  width: .8em;
  height: .8em;
  background: #7F909A;
  border: 9px solid #eee9dc;
  border-radius: 50%;
  display: block;
  position: absolute; }

.content {
  max-height: 100%;
  padding: 3em 1em 0;
  border-color: transparent;
  border-width: .5em;
  border-style: solid;
  border-radius: 0.5em;
  position: relative; }
  .content:before, .content:after {
    content: "";
    width: 0;
    height: 0;
    border: solid transparent;
    position: absolute;
    pointer-events: none;
    right: 100%;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); }
  .content:before {
    border-right-color: inherit;
    border-width: 20px;
    top: 50%;
    margin-top: -20px; }
  .content:after {
    border-width: 17px;
    top: 50%;
    margin-top: -17px; }
  .content p {
    max-height: 0;
    width: 100%;
    text-align: justify;
    word-break: break-word;
    hyphens: auto;
    overflow: hidden; }

label {
  font-size: 1.3em;
  width: 60%;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 1.2em;
  transition: 0.3s ease-out 0.1s; }
  label:after {
    height: 2px;
    width: 122px;
    background: #eee9dc;
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0;
    transform: scaleX(0);
    transition: 0.3s; }
  label:hover:after {
    transform: scaleX(1); }

.radio {
  display: none; }
  .radio:checked + .relative label {
    cursor: auto;
    transform: translateX(42px); }
  .radio:checked + .relative .circle {
    background-color: #ff9999; }
  .radio:checked ~ .content {
    background-color: #ff9999;
    max-height: 100%;
    background-color: #ff9999;
    margin-right: 1.3em;
    transform: translateX(20px);
    transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear; }
    .radio:checked ~ .content p {
      margin-top: 5%;
      padding-top: 1em;
      max-height: 100%;
      color: #FFF;
      transition: color 0.3s linear 0.3s; }
    .radio:checked ~ .content:after {
      background-color: #ff9999;
      transition: color 0.3s linear 0.3s; }

@media screen and (max-width: 65em) {
  .wrapper {
    margin: 5% 10%; } }
@media screen and (max-width: 35.833em) {
  .wrapper {
    margin: 5% 5%; } }
.contact {
  padding-top: 200vh;
  height: 100vh;
  text-align: center; }
  .contact p {
    font-size: 50px;
    font-weight: bold;
    font-family: "Roboto Condensed";
    letter-spacing: 1px; }

.icon {
  font-size: 150px;
  color: #333;
  display: inline-block;
  padding: 100px;
  text-align: center;
  margin-top: 100px; }

.background {
  position: absolute;
  top: 150vh;
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 0; }
  .background img {
    padding-top: 40vh; }

#about {
  background: #F4837D;
  height: 300vh; }

#portfolio {
  background: #FDCEA9;
  height: 440vh; }

#strength {
  background: #87ceeb;
  height: 450vh; }

#contact {
  background: #99B998;
  height: 250vh; }

/*# sourceMappingURL=style.css.map */
